TFLEX_API_BASE_URL=https://raw.githubusercontent.com/KrickmanC/T-FLEX-CAD-17-API/main/
TFLEX_FETCH_TIMEOUT_MS=45000
TFLEX_CACHE_TTL_MS=300000
TFLEX_MAX_DATASET_BYTES=67108864
TFLEX_MAX_DOCUMENT_BYTES=2097152
MCP_MAX_TOOL_OUTPUT_CHARS=120000
MCP_HOST=0.0.0.0
MCP_PORT=3000
MCP_ALLOWED_ORIGINS=*
